{% for cat in category %}
   <a href="{% url 'shopping:category' cat.slug %}"> {{cat.title}}</a>
{% endfor %}

    {{product.title}} <br>
    <a href="{{ product.get_add_to_cart_url }}" class="btn btn-primary btn-md my-0 p">
      Add to cart
      <i class="fas fa-shopping-cart ml-1"></i>
    </a><br>
    {{product.material}} <br>
    {{product.description}}<br>
    {{product.price}} <br>
    {% for img in product.img_id.all %}
    <img src="{{ img.imag.url }}" alt="Italian Trulli">
    {% endfor %}
    
    <form method="post">
      {% csrf_token %}
        {{ comment_form.as_p }}      
        <button type="submit" class="btn btn-primary  btn-lg">Submit</button>   
    </form>
    {% for comment in comments %}
    <div class="comments" style="padding: 10px;">
      <p class="font-weight-bold">
        {{ comment.user }}
        <span class=" text-muted font-weight-normal">
          {{ comment.created_on }}
        </span>
      </p>
      {{ comment.description | linebreaks }}
    </div>
    {% endfor %}