{% extends "base.html" %}
{% for cat in category %}<br>
   <a href="{% url 'shopping:category' cat.slug %}"> {{cat.title}}</a>
<br>
<a href="{{ oder.get_add_to_cart }}">
    Add to cart
  </a><br>
/////
<br>
    <a href="{% url 'shopping:detail' produc.slug %}">{{produc.title}}</a>
    <br>
/////
<br>
    {{produc.description}}
    <br>
/////
<br>
    {{produc.material}}
<br>
/////
<br>
    {{produc.price}}
<br>
/////
<br>
<img src="{{produc.pic.url}}" alt="Italian Trulli">
{% endfor %}
{% block content %}
    <div class="hero" style="background-image: url('/static/website-menu-10/images/1.jpg');"></div>
    <br>
    <hr>
    <br>
      <section class="text-center mb-4">
            <div class="container">

        <div class="row wow fadeIn">
        {% for produc in products %}
          <div class="col-lg-3 col-md-6 mb-4">

            <div class="card">

              <div class="view overlay">
                {% comment %} <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/12.jpg" class="card-img-top" {% endcomment %}
                <a href="{% url 'shopping:detail' produc.slug %}">
                <img src="{{produc.pic.url}}" class="card-img-top">
                </a>
                <a href="#">
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>

              <div class="card-body text-center">
                <a href="{% url 'shopping:detail' produc.slug %}" class="grey-text">
                  <h5>{{ item.get_category_display }}</h5>
                </a>
                <h5>
                  <strong>
                    <a href="{{ item.get_absolute_url }}" class="dark-grey-text">{{ produc.title }}
                      <span class="badge badge-pill {{ item.get_label_display }}-color"></span>
                    </a>
                  </strong>
                </h5>

                <h4 class="font-weight-bold blue-text">
                  <strong class="produc_price">
                    {{produc.price}} تومان
                  </strong>
                </h4>

              </div>

            </div>

          </div>
          {% endfor %}
        </div>
    </div>
      </section>
      {% endblock %}